/* Global Style */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

.body {
    margin: 0 auto;
}

/* Main Section Style */
.body-container {
    margin-top: 10%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(0,0,0,.1);
}

.main-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.7);
    border: none;
    margin-bottom: 10%;
    width: 90%;
}

.title {
    font-family: "Mukta", sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    text-align: center;
    color: rgba(0, 0, 0, .77);
    margin-bottom: 10%;
    margin-top: 10%;
}

.input-label {
    font-family: "Mukta", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: rgba(0, 0, 0, .77);
    margin-bottom: 5%;
}

.form {
    margin-bottom: 10%;
}


.url-input {
    padding: 1px 20px;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,.4);
    font-size: 30px;
    margin-bottom: 10%;
}

.button {
    opacity: 0;
}

.visible-button {
    display: block;
    border-radius: 50px;
    border: 2px solid rgba(0,0,0,.5);
    margin: 0 auto;
    width: 50%;
    height: 60px;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    box-shadow: 4px 4px 10px black;
}

/* Additional Section Style */
.about-chatgpt-section, .about-company-section {
    background-color: rgba(0,0,255,.2);
    border-radius: 15px;
    margin-bottom: 5%;
    padding-top: 20px;
}

.about-company-title, .about-chatgpt {
    font-family: "Mukta", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: rgba(0, 0, 0, .77);
    margin-bottom: 5%;
}

.company-description, .about-chatgpt-description {
    font-family: "Mukta", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(0, 0, 0, .77);
    margin-bottom: 5%;
}

.final-row {
    height: 5%;
}
